@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root{
    --font-family: 'Cabin', sans-serif;
    --primary-color: #ddf6ee;
    --bg-color: #1d99be;
    --text-shadow: 2px 2px rgba(0, 0, 0, 0.531);
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.principal{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 5em;


}

h2 {
    font-size: 3.5em;
}

h3{ 
    font-size: 2.5em;
    margin-top: 1%;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 2%;
}

.box{
    border: 2px solid var(--primary-color);
    padding: 10%;
    border-radius: 50%;
    font-size: 5em;
    margin: 20% 0%;
    text-shadow: var(--text-shadow);
    box-shadow: 1px 1px 6px black;
    display: inline-block;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}